.shortenSection {
  padding: 5rem 2rem;
  background: var(--gray);
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    var(--gray) 50%,
    var(--gray) 100%
  );
}

.shortenContainer {
  background: var(--dark-violet);
  background-image: url("../../../public/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 12px;
}

.shortenForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.shortenForm input {
  padding: 1rem 0.75rem;
  border-radius: 12px;
  border: none;
  font-size: var(--body-text);
  color: var(--grayish-violet);
}

.validUrl {
  outline: none;
}

.invalidUrl {
  outline: 2px solid var(--red);
}

.shortenForm input::placeholder {
  color: var(--grayish-violet);
  opacity: 1;
}

.hideErrorMessage {
  display: none;
}

.errorMessage {
  color: var(--red);
  display: block;
}
